{{define "title"}}Movie #{{.Movie.ID}}{{end}}

{{define "main"}}
<div class='snippet'>

  <div class='metadata'>
    <strong>{{.Movie.Title}}</strong>
    <span>#{{.Movie.ID}}</span>
  </div>

  <div class='poster'>
    <p>Poster: {{.Movie.Poster_image}}</p>
  </div>

  <pre><code>{{.Movie.Description}}</code></pre>

  <div class='metadata'>
    <time>Release: {{.Movie.Release_date}}</time>
  </div>

</div>
{{end}}